In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [14]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [17]:
#read csv

df = pd.read_csv('zones.csv', index_col=False)

In [18]:
print(pd.io.sql.get_schema(df, name='nyc_zones', con=engine))

CREATE TABLE nyc_zones (
	"OBJECTID" BIGINT,
	"Shape_Leng" FLOAT(53),
	the_geom TEXT,
	"Shape_Area" FLOAT(53),
	zone TEXT,
	"LocationID" BIGINT,
	borough TEXT
)

In [19]:
#load columns to sql
df.head(n=0).to_sql(name='nyc_zones', con=engine, if_exists='replace')

0

In [21]:
df

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island
...,...,...,...,...,...,...,...
258,256,0.067915,MULTIPOLYGON (((-73.95834207500002 40.71330630...,0.000169,Williamsburg (South Side),256,Brooklyn
259,259,0.126750,MULTIPOLYGON (((-73.85107116191898 40.91037152...,0.000395,Woodlawn/Wakefield,259,Bronx
260,260,0.133514,MULTIPOLYGON (((-73.90175373399988 40.76077547...,0.000422,Woodside,260,Queens
261,261,0.027120,MULTIPOLYGON (((-74.01332610899988 40.70503078...,0.000034,World Trade Center,261,Manhattan
262,262,0.049064,MULTIPOLYGON (((-73.94383256699986 40.78285908...,0.000122,Yorkville East,262,Manhattan

In [22]:
%time df.to_sql(name='nyc_zones', con=engine, if_exists='append')

CPU times: total: 15.6 ms
Wall time: 647 ms

263